[2017-03-28 20:30] GertjanReynaert commented on #10
As a quickfix i think that removing the babelrc file from `node_modules/redux-offline` can help you out

[2017-03-28 20:33] benvp commented on #10
Thanks for the quick help - I did a short install of the devDependencies as a work-around. But deleting the babelrc should also work. :)

[2017-03-29 10:30] jevakallio commented on #10
@benlime thanks for spotting this! When I was developing the library, I used [Whackage](https://github.com/formidablelabs/whackage) to work against it, and that hid this error.

This is basically the same age old issue as https://github.com/gaearon/redux-thunk/issues/43

Will be pushing a fix shortly.

[2017-03-29 10:48] jevakallio commented on #10
@benlime @GertjanReynaert :tada: I've just published [v1.0.2](https://github.com/jevakallio/redux-offline/releases/tag/v1.0.2) that fixes this.

Thank you for submitting the issue. Here's an early adopter taco for you 🌮

[2017-03-29 11:56] jevakallio commented on #19
Ouch @benlime, that's no good. Thanks for submitting this issue. I will do my best to get to it tonight.

[2017-03-29 20:07] sedubois commented on #22
Have you read the medium article and readme?

[2017-03-29 20:08] Cretezy commented on #22
I have not seen the Medium article, mind link me?

[2017-03-29 20:10] sedubois commented on #22
https://hackernoon.com/introducing-redux-offline-offline-first-architecture-for-progressive-web-applications-and-react-68c5167ecfe0

[2017-03-29 20:13] sedubois commented on #22
And note this in readme:

"Instead of reinventing the wheel, Redux Offline uses the excellent redux-persist library."

[2017-03-29 21:09] rt2zz commented on #22
The clarify for others headed this way: in addition to general state persistence, redux-offline solves the high order problem of managing offline effects.

**redux persist:** persist state
**redux offline:** persist state + manage offline effects (retry + commit + rollback)

[2017-03-30 10:40] benvp commented on #25
Couldnt't you just decorate your action with the corresponding metadata? I don't think it makes a difference if you use thunk.

[code]

In the reducer you can then handle the result. The payload of the resolved promise from the effect will then be passed as a payload to the `COMMIT` action (iirc).

[2017-03-30 12:34] jevakallio commented on #27
Hi! Thanks for submitting this. It's a duplicate of https://github.com/jevakallio/redux-offline/issues/19, so let's track this there.

I am planning fix this later today.

[2017-03-30 12:43] TheoMer commented on #19
@jevakallio As per my post here: https://github.com/jevakallio/redux-offline/issues/27, I think the error was generated due to a service worker not being defined in my development environment.

Once I deployed to production, which has a service worker defined in index,html, I no longer receive the `Unexpected key "offline"` message.

See in devTools [here](https://learn-redux.firebaseapp.com)

[2017-03-30 12:53] jevakallio commented on #19
Wait, you're already using this in production? 🥇 🌮

@TheoMer but seriously, the reason you're not getting this in the prod build is that this error is a development-time warning, and the React/Redux prod build will strip these errors.

The underlying issue still exists and you will encounter it in dev. I fill fix and release this as soon as I am able to get to it

[2017-03-30 12:59] TheoMer commented on #19
Sorry, I meant staging.  ;-)

[2017-03-30 13:16] TheoMer commented on #19
Ok, on further investigation an 'redux-persist; cannot process cyclical state' error (See attached image) is generated when submitting a a comment. See in devTools [here](https://learn-redux.firebaseapp.com/)

Refer to my initial issue [#27](https://github.com/jevakallio/redux-offline/issues/27) for corresponding code review.

![error](https://cloud.githubusercontent.com/assets/15969262/24505848/6

[2017-03-30 17:15] TheoMer commented on #25
@benlime Many thanks. That seems to have done the trick.

[2017-03-30 17:30] jevakallio commented on #25
@TheoMer thanks for asking this question. I noticed you closed it yourself, but I'll make sure to improve the documentation on using with different middleware.

@benlime thanks for stepping in and helping out!

[2017-03-30 21:18] funkyeah commented on #7
I've been doing some reading and research somewhat related to this question. I think it would be difficult but not impossible. Guessing some close coordination with the Apollo team would be needed.

1) On the persistance and re-hyrdration side the first issue is that the entirety of the apollo redux state is not meant to be persisted and re-hydrated. I think Apollo has the API functionality to han

[2017-03-31 05:29] sedubois commented on #7
@funkyeah thanks for the comments, it also looked to me like a collaboration with Apollo would be best. Maybe @stubailo can comment?

[2017-04-01 12:54] jevakallio commented on #19
@benlime this has now been fixed and released as [v1.0.3](https://github.com/jevakallio/redux-offline/releases/tag/v1.0.3). Apologies for the delay getting this fixed, and thanks for reporting!

[2017-04-01 12:56] jevakallio commented on #19
@TheoMer the issue "cannot process cyclical state" is unrelated, and is likely caused by your action payload being somehow cyclical (non-vanilla javascript objects). I took a look at the code you posted in #27, the possible culprits are the posts/comments.

Because redux-persist needs to be able to serialize your state to JSON, you'll need to give it serializable objects.

[2017-04-04 02:37] stubailo commented on #7
I think there are two relatively issues here:

1. Apollo expects the Redux state to be initialized right away, but with this implementation it probably takes some time to get ready. That's something we can try to fix in Apollo.
2. Apollo manages your network requests for you, but not in a way that is aware of offline state. There's no easy way to queue up mutations, and there's no built-in functio

[2017-04-04 12:16] jbovenschen commented on #35
You can already access the store.dispatch if you have setup redux.
It will look something like the following:

[code]

[2017-04-05 16:12] jevakallio commented on #37
Hi @fossage! I've [added jest](https://github.com/jevakallio/redux-offline/commit/3363fe44d83f8724dfc05c821efdb38819894fde) to the project, but am currently struggling finding time to contribute. Tests are more than welcome!

However please be aware that some [breaking changes](https://github.com/jevakallio/redux-offline/pull/17) are coming soon, so any tests for createOfflineStore are not necessa

[2017-04-05 16:20] fossage commented on #37
@jevakallio , okay great. I'll start putting some together and hopefully have a PR ready in the near future.  Aside from Jest, do you have any other testing utilities you prefer and/or want to avoid?  Lately I've been using a combination of jest and [redux-mock-store](https://github.com/arnaudbenard/redux-mock-store) for reducer testing which seems to be working pretty well.

[2017-04-05 16:32] jevakallio commented on #37
@fossage redux-mock-store is great! I hadn't decided if I wanted to run store reducer tests as snapshot tests or regular chai assertions - either is fine.

[2017-04-06 16:03] jevakallio commented on #39
Good catch!

I think relying on the `text` content type of 204's is not robust enough. I think reading the response body as text, checking if it's not empty, and attempting to parse is the way to go.

Will fix this shortly.

[2017-04-06 17:02] sedubois commented on #7
@stubailo that's great feedback, thanks. Unfortunately @jevakallio [wrote](https://github.com/jevakallio/redux-offline/pull/17#issuecomment-292208117) he doesn't have as much time as he thought 😞

@rauchg also [wrote](https://github.com/zeit/next.js/issues/861#issuecomment-280155417) that offline is a top priority for Next.js.

Opportunity for collaboration perhaps.

[2017-04-06 17:50] jevakallio commented on #7
@sedubois @stubailo thanks for your comments. I don't currently see how Apollo offline-first should work - overall I have very limited experience with Apollo, though from what I've seen it's a hella impressive piece of work!

I'm going to stop giving estimates on when I'm delivering things, but let's say _soon_ I'll put together an example app using redux-offline. I think branching off of such exa

[2017-04-07 08:38] philohelp commented on #7
Apollo + redux-offline would be absolutely amazing ! I'll try to do the example.

[2017-04-08 03:00] fossage commented on #37
@jevakallio , Cool yea I'm ambivalent on snapshots as well so I'll try to keep them to a minimum.  Do you want the tests to be set up to run on any Git hooks?

[2017-04-10 14:04] jevakallio commented on #37
@fossage let's set up any git hooks separately if necessary I'd generally prefer to run the tests on Travis, so hooks may be overkill.

[2017-04-11 14:26] unindented commented on #50
Oh wow, found a file full of `PropTypes` and inlined `require('react')`. What's this all about? https://github.com/jevakallio/redux-offline/blob/3bf42d37daa68899bf7528b2b48710c9a0fec2b4/lib/types.js

[2017-04-11 14:34] unindented commented on #50
Ah, it's this Babel plugin: `babel-plugin-flow-react-proptypes`

Can we get rid of it? `PropTypes` are going the way of the dodo anyways.

[2017-04-14 10:50] jevakallio commented on #50
@unindented yes! Thanks for catching this, was honestly not aware these were being generated.

Will fix this shortly.

[2017-04-14 10:51] jevakallio commented on #48
Nope, this depends entirely on Redux.

However, the documentation in the readme describes the general architecture behind the library, which may be helpful if you want to implement similar features without Redux.

[2017-04-14 20:25] jevakallio commented on #39
This should now be fixed by https://github.com/jevakallio/redux-offline/commit/7a0ce8919db160ee4a2ef053fa544ecb90dbf45c

[2017-04-14 20:43] jevakallio commented on #55
@tanhauhau cool! I'm on easter holidays now, but will gradly give feedback next week!

[2017-04-14 20:46] unindented commented on #50
Boom! Thank you!

[2017-04-19 12:25] jevakallio commented on #61
Instead of action creators, the `commit` and `rollback` need to be actions:
[code]

[2017-04-19 13:10] ananth98765 commented on #61
After making above changes still these two actions are not calling . I am using redux-offline 2.0 version..
When I add user I was in offline and then changed offline mode to online mode  with the expectation  commit or rollback action will be called.But nothing is happening.. I am using  redux-offline with ignite project.
[code]

[2017-04-19 13:35] jevakallio commented on #61
I believe this line is incorrect:
[code]

In Redux Offline 2.x, you should specify the offline enhancer as one of the enhancers inside `compose`, rather than pass it as the 4th argument to createStore as in 1.x.

See release notes and migration guide from 1.x->2.x: https://github.com/jevakallio/redux-offline/releases/tag/v2.0.0

[2017-04-19 13:37] jevakallio commented on #60
@tribou can you please show how you configure the Redux store, along with and redux-offline configurations.

[2017-04-19 13:59] ananth98765 commented on #61
Thanks. I made appropriate changes to the code  as below,

`  const store = createAppropriateStore(rootReducer, {}, compose(...enhancers, offline(offlineConfig)));
`
Still it calling INSERT_NEW_USER action , not OfflineActions(commit and rollback) even though I am in offline

[2017-04-19 14:18] tribou commented on #60
Ah, my apologies! It's actually the same config that fixed #57:

[code]

Also, this is my `combineReducers()`:

[code]

[2017-04-19 22:39] enahum commented on #61
hitting the same issue, and I track it down to `effect` not being called

[2017-04-21 09:17] jevakallio commented on #63
@pepibumur it should automatically be set as commit action's payload, see: https://github.com/jevakallio/redux-offline/blob/master/src/middleware.js#L29

[2017-04-21 11:48] pepicrft commented on #63
Thank you very much @jevakallio. That answers my question.

[2017-04-22 05:28] rosskhanas commented on #39
@jevakallio actually no. There are no usually 'content-type' specified when you have 204 response, since there are no content. It means that `res.headers.get('content-type');` return a null value. So `contentType.indexOf('json')` throws an error.

[2017-04-25 15:52] benvp commented on #64
You could try implement you own discard handler and dispatch an an action here. https://github.com/jevakallio/redux-offline#change-how-irreconcilable-errors-are-detected

Or you could use something like redux-obversables or redux-saga to listen for the `Offline/SCHEDULE_RETRY` or `Offline/COMPLETE_RETRY` action and dispatch another action to notify the user,

[2017-04-25 17:43] Noitidart commented on #64
Ah interesting on the listening to `Offline/*` - I like to avoid dropping libs, especially redux-saga. Doing store.subscribe should be able to listen for this as well huh? I will try that out. Thanks @benlime!

[2017-04-25 20:23] benvp commented on #64
@Noitidart Maybe it's better to use a middleware for this, as you don't know the action in the subscribe listener. (see https://github.com/reactjs/redux/issues/1057). If you want to avoid other frameworks, write a middleware which listens for the `Offline/*` actions and dispatch your actions accordingly.

[2017-04-25 21:37] Noitidart commented on #64
Oo thanks benlime! Thats very interesting.

[2017-04-26 08:26] ManAnRuck commented on #7
I have try to start a simple example with redux-offline & apollo.
I would be happy about changes.

https://github.com/ReggaePanda/redux-offline-examples

[2017-04-26 16:04] vysakh0 commented on #25
@TheoMer Can you please share on how you `addComment`, it'd be very helpful ? I thought `effect` is where you send the data to firebase, but @benlime's comment seems to suggest that it is done in `payload` and in `effect` nothing is done?

[2017-04-26 17:24] lifeiscontent commented on #60
@jevakallio any updates on this?

[2017-04-27 09:56] vysakh0 commented on #61
@enahum For me too :( , the `effect` does not get triggered but the `redux-persist` works (the offline data)

[2017-05-01 16:35] 2WheelCoder commented on #66
I'm also having this issue. I believe its related to #57. Whenever I load dev tools before offline as @vysakh0 has done the effect never executes. I've tried loading with `window.__REDUX_DEVTOOLS_EXTENSION__ ? window.__REDUX_DEVTOOLS_EXTENSION__() : noop => noop` and `devToolsEnhancer()` and I get the same results. If I move it till after I call `offline(offlineConfig)`, then I get the outbox erro

[2017-05-06 06:50] DylanGriffith commented on #61
Just to weigh in on this I think that there may be some confusion about how the `meta.offline` key works. To summarise it seems a few of the commentors are thinking they need to pass functions as the values for `effect`, `commit` and `rollback`, but these are actually all just objects. So to give an example from the docs your actions should look like:

[code]

The effect reconciler (if you want to

[2017-05-06 13:23] vysakh0 commented on #66
@2WheelCoder Thank you, I didn't realize that would be a cause :+1:

[2017-06-12 20:18] guilhermebruzzi commented on #60
@jevakallio @tribou Have you guys managed to do a workaround? My configuration looks like the one @tribou posted and I'm getting: Cannot read property 'outbox' of undefined

[2017-07-10 11:07] davidsonsns commented on #61
Inserting the sample code, as @DylanGriffith showed, the problem continues

[2017-08-04 17:01] notrab commented on #7
I'd recommend you have a read of http://www.east5th.co/blog/2017/07/24/offline-graphql-queries-with-redux-offline-and-apollo/ for a way to do this 😀

[2017-08-05 16:12] witbybit commented on #7
Thanks for sharing this article @notrab. When is the next article coming out for mutations?

[2017-08-05 16:59] notrab commented on #7
Hi @nikhilag - I didn't write this article - I'm sure comments are enabled for that post though 👍

[2017-09-05 14:48] sorodrigo opened #4 "Offline outbox not restored from redux-persist"
Hello!! I know that in the original repo [this](https://github.com/jevakallio/redux-offline/pull/70) issue is affecting a lot of users. In this fork we never got to merge the PR into our code, this was because we never got around to test it. And we weren't able to replicate it. I suppose that in our app we never met the necessary conditions.

Moreover, I think that this is a BIG issue and a lot of

[2017-09-05 15:15] sebasgarcep commented on #4
@McPo's solution is working fine for me in a medium-sized project and it's a one-line fix. Why don't we apply it?

[2017-09-05 15:41] sorodrigo commented on #4
could make the PR?

[2017-09-05 16:34] wacii commented on #4
I agree. Created the PR.

[2017-09-05 18:25] sorodrigo commented on #4
Awesome thanks!!

[2017-09-05 18:32] #4 closed

[2017-09-05 18:40] sebasgarcep commented on #4
Thanks @wacii !

[2017-09-06 11:40] malikoum94 opened #7 "dispatch action after commit event"
hello,

with this fork is it possible to dispatch action after commit event fired? like we do with redux-thunk

thanks

[2017-09-06 22:28] sorodrigo commented on #7
Hello! It's not possible yet but this https://github.com/jevakallio/redux-offline/pull/106 looks very promising! I have thought of including it before but just haven't found the time to do it and properly test it. Now that this is a community project it would be nice to have a discussion about this with the rest of the maintainers.

**TLDR**; I would love to include this, and if everyone agrees, y

[2017-09-07 22:55] bsouthga opened #9 "Re-enable travis builds for the `redux-offline` org repo"
Would someone with owner access to the repo mind heading over to https://travis-ci.org/ and enabling the builds so we can have PR checks? (not sure who that would be at this point).

[2017-09-07 23:22] bsouthga opened #10 "thoughts on switching to typescript?"
Probably a contentious suggestion, but I've found the tooling around typescript to be a little easier to maintain. I'd be happy to create a PR mapping the existing types / setup to typescript as well.

Also totally understand if many people feel that is too far of a leap.

[2017-09-08 02:02] wacii commented on #7
There is a reason thunks weren't supported. Functions aren't serializable, so requests involving them can't be fully persisted, which means they can't be properly retried across sessions.

You could still support thunks, understanding that you are getting weaker assurances on your writes, but you would need to remove the now incomplete requests from the retry queue when you rehydrate state.

On an

[2017-09-08 04:53] wacii commented on #10
I don't mind either way.

[2017-09-09 13:12] sorodrigo commented on #10
I prefer to maintain this lib on js. I'm not a big fan of the type systems myself but I don't mind using flow given that the original repo used it and this way we don't deviate that much. Still, open to other opinions.

[2017-09-09 13:14] sorodrigo commented on #9
I'll set this up. I want to a little bit about the eslint config. IMHO its way to aggressive, whats your opinion to switching to another more common config such as Airbnb's one?

[2017-09-09 15:18] bsouthga commented on #10
Yeah I think leaving as is makes sense

[2017-09-09 15:18] #10 closed

[2017-09-09 15:37] jaulz opened #13 "Expose constants"
Could we please expose constants so we could react on REHYDRATE actions?

[2017-09-09 15:43] jaulz opened #14 "Difference to redux-offline?"
How do we use this fork? Are there any significant differences? I tried to simply replace the imports:
[code]

However, if I just do this the application constantly shows me that it's offline. Any clue what could have gone wrong?

Thanks in advance!

[2017-09-09 15:59] bsouthga commented on #9
Switching to Airbnb's sounds good to me!

[2017-09-09 16:01] bsouthga commented on #9
I'm also a fan of prettier https://github.com/prettier/prettier which could be nice for keeping things consistent and not worrying about formatting longer errors (could be used in conjunction with eslint)

[2017-09-09 16:04] sorodrigo commented on #14
Hello! For using this library replacing the imports will do the trick. In what platform are you using redux-offline?

[2017-09-09 16:13] sorodrigo commented on #13
To import the rehydrate const you'll need to do the following:
[code]

[2017-09-09 16:15] jaulz commented on #14
I use it as part of a react-native(-web) project. Do you think a custom network detector is necessary?

[2017-09-09 16:19] sorodrigo commented on #14
For web the default config works, for `react-native` projects you'll need to import the `defaults/detectNetwork.native` file instead.

[2017-09-09 18:44] wacii commented on #9
Prettier was used sporadically in the original as well, it was just never enforced. I'm fine with another ESLint config.

[2017-09-10 00:16] wacii opened #16 "Usage with redux-logger"
jevakallio/redux-offline/issues/77 is still a problem.

You could expose the offline middleware so the user could apply it wherever. This way the logger and offline middleware could be part of the same middleware chain, which means logger could then see the actions offline was dispatching.

[code]

Pretty sure that would work, but it would mean a change in the api.

Otherwise you could advise the

[2017-09-10 00:20] wacii opened #17 "Remove `console.log` statements"
In the original repo, there are a few PRs to toggle or customize logging, but I see no reason to keep it around at all. Almost anything interesting that happens in the library is accompanied by an action anyways.

[2017-09-10 04:37] EvanWillms opened #19 "Not able to fulfill peer dependencies of redux-offline@^2.0.0"
I'd like to use this community maintained package of redux-offline with [https://github.com/Malpaux/apollo-offline](apollo-offline).   Apollo-offline correctly requires a redux-offline greater than major version of 2, since jevakallio introduced a breaking API change with that release in April.

This fork does appear to include that new API (`offline` rather than `createOfflineStore `), but still

[2017-09-10 08:57] jaulz commented on #14
Please check https://github.com/redux-offline/redux-offline/pull/20 and merge if you are fine with it.
It seems there was an regression due to the introduction of netinfo from React Native.

[2017-09-10 08:57] #14 closed

[2017-09-10 22:41] sorodrigo commented on #9
I'm closing this issue and opening another one about prettier so we don't forget

[2017-09-10 22:41] #9 closed

[2017-09-10 22:41] #13 closed

[2017-09-10 22:42] sorodrigo commented on #19
merged, closing.

[2017-09-10 22:42] #19 closed

[2017-09-10 23:30] sorodrigo opened #22 "Include prettier"
There has been some conversations about including prettier, just a reminder to do it someday.

[2017-09-11 09:52] sorodrigo commented on #7
I've been thinking on what @wacii said, he's totally right about thunks not being serializable. Not just thunks, also promises. I'm wondering, could we decided on a object format that calls a thunk on the effect? I still don't have a clear proposal, but love to hear ideas.
About your proposal @adamscybot, how would you address the serialization with this?

[2017-09-11 18:23] wacii commented on #7
@adamscybot Yeah, all my arguments against thunks apply to promises as well.  Not retrying writes across sessions is a bad idea. Not retrying reads across sessions is more reasonable. But you don't need to resolve them in serial either. So why use Redux Offline here at all if you want a promise?

@sorodrigo Besides using actions and middleware to accomplish this, googling "command pattern js" shou

[2017-09-13 18:50] kbrandwijk opened #25 "Implement manual sync?"
I want to use `redux-offline` to implement a manual sync feature in my app. I thought about overriding `config.detectNetwork` and manually return true to trigger the updating.

The only issue I'm facing is that I want to detect when the app is busy syncing. Any pointers on how to implement that part? Ideally I'm looking for a way to detect that the sync is complete.

[2017-09-13 19:39] wacii commented on #25
The reducer is found in [updater.js](/redux-offline/redux-offline/blob/master/src/updater.js). Which is admittedly a pretty bad name for it. The key you are interested in is `outbox`. So when `state.offline.outbox.length === 0`, there are no actions left to sync.

Might be worth adding a selector for this...

[2017-09-13 22:19] kbrandwijk commented on #25
Thank you for the quick reply. I think I understand at least part of the answer. The `state.offline.outbox` part I get, the reducer part not so much...

[2017-09-14 01:19] sebasgarcep commented on #17
I agree with you. Even if yoy really want/need logging you can override most of the behaviour in firebase offline with the initial config. We should hold back from doing the changes until someone else gives their thoughts on the issue, though.

[2017-09-14 14:44] developer239 commented on #7
I have simple workbox-webpack-react-apollo-graphql implementation here: https://github.com/developer239/workbox-webpack-react/tree/with-apollo-graphql Note that graphql is not in master branch of the respository.

It works pretty nice. Now I am trying to figure out how to "reload" apollo query after user gets back online.

1) Workbox prefetches html / js files
2) User can load homepage even offlin

[2017-09-14 15:25] PaulBrachmann commented on #7
Hey @developer239,
if you want to refetch your Apollo query once, immediately after the user came back online, you could listen to redux-offline's default ```config.detectNetwork``` method (or, if necessary, [a custom one](https://github.com/jevakallio/redux-offline#change-how-network-status-is-detected)) and just manually execute your query again (using [```client.query()```](http://dev.apollodat

[2017-09-14 19:26] developer239 commented on #7
@MLPXBrachmann Wow apollo-offline looks promising. I will look at it tomorrow and post some feedback here. :)

[2017-09-15 03:13] wacii commented on #7
I've thought a bit about supporting promises, and you could create one that gets resolved when the request queue empties out.

[code]

We could also support promises for individual requests, returned from `dispatch()` as requested above, while still describing requests as serializable objects. However, any behavior chained off the promise would only run if the request completed during that session

[2017-09-16 19:19] Bhullnatik opened #27 "Commit and Rollback should be optional"
Pretty much following up on this issue https://github.com/jevakallio/redux-offline/issues/72 in this repo since it is actively maintained.

What do you think? That seeems like a reasonable idea, as you don't necessarily want to dispatch a commit/rollback action for every offline action, for example in the case of an optimistic update (as shown in examples in the README).

[2017-09-19 18:57] sebasgarcep commented on #27
I personally agree with this. The change is simple and it will not break the library. @sorodrigo @wacii Any thoughts?

[2017-09-19 19:01] wacii commented on #27
Yeah, I'm fine with this. Not sure that I can think of a situation where I wouldn't want to be notified of a failure, but there is no reason for the library to impose that.

[2017-09-19 19:02] #22 closed

[2017-09-20 00:48] sorodrigo commented on #27
I'm not sure about the use case. If you don't want to be notified about a failure, why not use an effect outside of `redux-offline`? I get that you might want to take advantage of the retry strategy, but then again why not add a rollback action in case it doesn't succeed? However this isn't a breaking change so not sure I disagree either

[2017-09-20 04:56] sebasgarcep commented on #27
I have an use case right now where an action updates the local database and then syncs with the backend. These actions will be retried until they succeed and no conflict resolution has to be done on them, so they eventually will. Doing these actions outside of `redux-offline` means I have to reinvent the wheel to have a retry strategy in place, which doesn't make any practical sense. Unless I'm do

[2017-09-20 15:02] richbrill opened #31 "Usage with non-Immutablejs React-Boilerplate"
Is it possible to use Redux-Offline with the forked version of React-Boilerplate with Immutablejs removed: https://github.com/Dattaya/react-boilerplate-object ? I'm attempting to implement the offline enhancer by adding it to the enhancers array in app/store.js like this:

`const enhancers = [
    applyMiddleware(...middlewares),
    offline(offlineConfig),
  ];`

but I get this error:

`Cannot re

[2017-09-20 18:59] wacii commented on #31
The second error is from `Redux.combineReducers()`. It doesn't like us adding additional keys to the state. I'll see if there's anything we can do on our end.

[2017-09-23 19:43] piranna opened #35 "Send objects with default effector"
The default effector [sends data as JSON](https://github.com/redux-offline/redux-offline/blob/a0a151971e0e41e9ec5f44d3ab8cbafc23ba22df/src/defaults/effect.js#L38), but it's needed to use `JSON.stringify()` yourself. It would makes sense to do it automatically, so users only needs to give and receive objects.

[2017-09-25 02:48] #17 closed

[2017-09-25 08:55] sebasgarcep commented on #27
#30 Solves this.

[2017-09-25 08:57] sebasgarcep commented on #25
@kbrandwijk I think you may be looking for `state.offline.busy`. Is a boolean value that tells you when the app is syncing on the background. @wacii's answer is useful to know if you have pending actions. It really boils down to what you need.

[2017-09-25 09:37] fabriziomoscon opened #37 "Immutable root state"
Hi @sorodrigo,
thanks a lot for opening and maintaining this repository.
A couple of months ago I opened this PR: https://github.com/jevakallio/redux-offline/pull/99
to allow the use of `immutable root state` with `redux-offline`.
Since then we have been successfully using the fork with our immutable root state.
I wanted to check with you whether the same PR could be merged in this fork if I creat

[2017-09-25 17:46] wacii commented on #25
When the app is waiting to retry again `state.offline.busy` will be `false` and `state.offline.retryScheduled` will be `true`. Waiting to retry is part of the syncing process, so you will likely want to use both.

I'm not 100% sure that those two values will always accurately represent the state though. There might be frames where they are incorrect.

[2017-09-25 18:26] kbrandwijk commented on #25
Thank you @wacii and @sebasgarcep. The 'show it's busy syncing part' seems covered by those states. I'll have to do a bit more experimentation with the manual sync. If I come up with a proper solution, I'll post it somewhere for the docs.

[2017-09-25 20:21] sebasgarcep commented on #25
@wacii I didn't know about `state.offline.retryScheduled`. In redux it is recommended that state is normalized, i.e. that there is little to no redundancy in the state you store. Is there any difference between `state.offline.retryScheduled` vs. `state.offline.outbox.length === 0`?

[2017-09-25 20:35] wacii commented on #25
@sebasgarcep They are different. `busy` means a request is currently being made to the server and `retryScheduled` means that Redux Offline is currently waiting to make the next request. Either mean that there are still actions left to sync.

There is no redundancy, although you could argue that this state would be better represented by an enum or string or something. Two flags means four states,

[2017-09-25 21:15] sebasgarcep commented on #37
@fabriziomoscon Could you link your fork to review it?

[2017-09-25 21:20] sebasgarcep commented on #25
@wacii I was talking about `state.offline.retryScheduled` vs. `state.offline.outbox.length === 0`, but you are right that `retryScheduled` and `busy` cannot be both true at the same time, and that they should better be represented as an enum. Maybe we could rethink some parts of the state and add selectors?

[2017-09-25 21:32] sebasgarcep commented on #7
If you want action A to dispatch action B, isn't it the same as having an action C that updates the state in the same way A -> B would? The only case in which I think it wouldn't be the same is if your are using a middleware to listen for either A or B, but you could add C to that listener. I don't understand the use case for this, could someone provide a concrete example to justify this?

[2017-09-27 01:20] sorodrigo commented on #37
Sounds interesting! I skimmed through the other PR and through redux-offline-immutable-config. The only thing I'm not thrilled about, is that even if one's not dealing with an immutable store, there's a slight overhead introduced to the core because of the lenses.
Now, don't get me wrong, immutable support is a nice thing to have! I'd like to hear more from @wacii given that he's been updating the

[2017-09-27 01:21] sorodrigo commented on #37
On another note, the redux-offline org seems like a good place where your config package could live in.

[2017-09-27 04:00] wacii commented on #37
It looks good. About as compact a change as I think possible.

Injecting `autoRehydrate()` is something we should be doing already. It doesn't make a whole lot of sense to inject `persist()` but not `autoRehydrate()` as we do now.

As for the lens, you are either going to need such an abstraction or to build two versions of the project. I prefer adding an abstraction.

[2017-09-27 04:03] #27 closed

[2017-09-27 04:04] #25 closed

[2017-09-27 04:06] jakejackson1 opened #39 "NetInfo deprecated warnings"
Just testing out this package and noticed a few deprecated warnings:

`NetInfo.fetch() is deprecated. Use NetInfo.getConnectionInfo() instead`
`NetInfo's "change" event is deprecated. Listen to the "connectionChange" event instead`

[2017-09-27 22:37] rileylnapier opened #40 "conceptual question"
hi friends.  i've just gotten into using redux-localstorage and redux-persist.

redux-offline has peaked my interest but i have a question to see if it could solve this problem.

if i dispatch an async api action... optimistically update my state before the api returns and refresh the page before the api responds, will redux-offline, when the page is refreshed have context on this request not bein

[2017-09-27 23:05] wacii commented on #37
That said I don't understand the benefit of making the root object immutable.

[2017-09-28 05:11] BlakeRxxk opened #41 "Unexpected key offline in preloaded state"
I've got this error with react-native app and HMR:
Unexpected key "offline" found in preloadedState argument passed to createStore. Expected to find one of the known reducer keys instead: "user". Unexpected keys will be ignored.

my configureStore.js
[code]

something wrong with my code or is there bug in redux-offline

[2017-09-28 05:13] wacii commented on #41
It's a bug with redux-offline. Issue #31 reports the same issue. This should be addressed by PR #32.

[2017-09-28 06:36] BlakeRxxk commented on #41
My bad, didn't noticed PR, i think issue could be closed as duplicate

[2017-09-28 08:34] fabriziomoscon commented on #37
Thanks for all comments.
The original idea was to make 100% non breaking changes. For that we set defaults everywhere possible.
To allow the use of `immutable.js` we had to inject:
- persistCallback
- persistAutoRehydrate
- offlineStateLens
but defaults will allow user to ignore them.

When using immutable setting the entire redux state as immutable is a best practice:
http://redux.js.org/docs/rec

[2017-09-28 17:30] sorodrigo commented on #39
Thanks! I'm aware of this changes. Will update them asap.

[2017-09-29 11:29] piranna opened #44 "4xx errors don't discard requests"
I've found that 4xx errors are not discarding requests with the default configs, going against what the docs says. I think this was working correctly on the @jevakallio code...

[2017-09-29 17:43] wacii commented on #44
Am able to confirm. Unfortunately only through an actual application and not with integration tests that should capture the whole process. Time to do some digging...

It is currently broken in the original repo as well. So at least I didn't break anything.

[2017-09-29 17:46] piranna commented on #44
Lol :-P Good to know :-)

[2017-09-29 19:19] wacii commented on #44
Oops, forgot I had overridden the default effect reconciler. The last published version of `@redux-offline/redux-offline` is working for me after all. Guess I'm going to need more information. Which version are you on?

[2017-09-29 19:41] piranna commented on #44
Latest one published on npm, I think it's 2.1.1.

[2017-09-30 15:29] piranna opened #45 "Override queue?"
How can I be able to override the requests queue? I would allow to the user to do logout and some time later login again, but if there has been some conectivity errors in the past and the requests queue is not empty, then login will be delayed until all previous requests have been commited instead of allowing to do login and keep doing them in background. Is it possible to override the requests qu

[2017-10-02 01:16] wacii commented on #44
Could you provide some code reproducing the issue? I added an [example app](/redux-offline/redux-offline/tree/example) if you need a starting point.

[2017-10-02 01:29] wacii commented on #45
You could fiddle with the request queue. Move the last item in `state.offline.outbox`, the most recent request, into the second position. That would probably work.

Other solutions include implementing parallel resolution or priorities. Neither of which I am interested in at the moment. Otherwise you could just reset the requests queue. This has been asked before and is something I might tackle in

[2017-10-02 03:06] sorodrigo commented on #45
The reset outbox feature is implemented. You can just import and dispatch the action

[2017-10-02 03:27] wacii commented on #45
So it is...

If you send a request, then reset and add an offline action before the request resolves, you will end up losing that new action. That said, I don't think this can actually happen in practice. So I suppose it is as simple as `state.offline.outbox = []`.

[2017-10-02 07:20] piranna commented on #45
Priorities support is just what my boss asked me to investigate for, just only I wanted to know if there was another alternative implemented that I could use like for example be able to do out-of-queue requests for some specific storage namespace. If you are interested, I can be able to take a look about replacing the outbox queue by a priority queue...

[2017-10-04 04:13] wacii commented on #45
Thanks for the offer, but I don't want to do that yet. There are enough things to do to get the current  implementation working properly before adding more features.

[2017-10-05 07:14] piranna commented on #44
Sorry, didn't see your previous message. I have just got a 404 and it got discarded inmediatly, don't know if it's related to that specific error code... I'll try to find time to replicate it.

[2017-10-07 01:39] #37 closed

[2017-10-07 02:27] wacii opened #48 "Add Changelog"
~Probably want to wait for the repos to be merged before going ahead with this~, but as we are adding features a changelog would be useful I think.

[2017-10-07 02:28] wacii commented on #48
_As an example..._

Unreleased

- Immutable js root state ([@fabriziomoscon](https://github.com/fabriziomoscon) and [@ashmalech](https://github.com/ashmalech) in [PR#42](https://github.com/redux-offline/redux-offline/pull/42))
- Optional commit/rollback ([@sebasgarcep](https://github.com/sebasgarcep) in [PR#30](https://github.com/redux-offline/redux-offline/pull/30))
- Fix regression in `detectNet

[2017-10-10 20:11] kbrandwijk opened #49 "Disconnect fork?"
Currently, the code cannot be searched because searching code in a forked repo is not possible on Github. Would you consider 'disconnecting' the fork, so this becomes a stand-alone repo?

[2017-10-11 08:22] pke opened #50 "How to implement delayed send"
I wonder if that lib could be extended by delayed send functionality which would basically allow "undo" action like GMail does. In Gmail when you send an email it is shown to the user as sent, but its not actually send to the server for another 5 seconds. If the users decides to "undo" the send the request to the server is never sent.

Maybe this could be coded as an extension (another middleware)

[2017-10-12 04:03] wacii commented on #49
We have ownership of the original repo and will be merging soon. Which should fix your problem.

[2017-10-12 04:29] wacii commented on #50
This is not a problem I want to address in the library. You're on your own I'm afraid.

[2017-10-12 04:29] #50 closed

[2017-10-12 05:14] pke commented on #50
Any ideas though maybe?

[2017-10-12 16:17] chrise86 commented on #61
@davidsonsns did you get anywhere with this? Facing the same issue :-/

[2017-10-13 13:36] jaulz commented on #45
@sorodrigo how can we use the reset outbox feature? Thanks! :)

[2017-10-13 18:31] wacii commented on #45
Ah, looks like that hasn't made it into the readme. I'll have to add that.

[code]

[2017-10-14 16:15] wacii commented on #40
It will retry. The main benefit of the library is that it retries requests across sessions. It will not, however, know whether the original request was successful, so you might get duplicate requests.

[2017-10-15 17:52] wacii commented on #41
#32 has been merged so this should be fixed in the next release.

[2017-10-15 17:52] #41 closed

[2017-10-15 17:52] wacii commented on #31
This is addressed in #32, so this should be fixed in the next release.

[2017-10-15 17:52] #31 closed

[2017-10-15 20:07] sorodrigo commented on #49
@wacii I was thinking on opening an issue about this. How would you proceed with the merge? I think the best way to do this is to make a new release with the latest changes (including the CHANGELOG suggested in #48 ) and then merging master.

[2017-10-15 21:11] kbrandwijk commented on #39
As I read in https://github.com/redux-offline/redux-offline/issues/49 that a new release might be imminent, I submitted a PR to get rid of those pesky warnings.

[2017-10-15 22:05] sorodrigo commented on #39
Thanks! 😄

[2017-10-15 23:10] wacii commented on #49
That sounds good.

[2017-10-15 23:20] kbrandwijk commented on #49
If you need any help, let me know what I can do to contribute.

[2017-10-21 20:02] jaulz commented on #45
Thanks! :-)

[2017-10-21 23:21] piranna commented on #45
I have somewhat implemented my boss requeriment by totally ignoring redux-offline and doing my own fetch requests on top of redux-offline. Another solution would have been to use diferent redux-offline instances, but redux-persist don't recomend it and instead propose to use reducers composition. Maybe this could be a posibility, by allowing to have several outbox queues and manage them independen

[2017-10-23 22:37] #39 closed

[2017-10-24 13:51] harshmaur opened #55 "Chaining Commit with another Action"
Hello!

Thanks a lot for maintianing the library.

I was wondering how do I dispatch multiple actions like we do in redux-thunk? I can currently see that we can only have one API call.

[2017-10-25 08:08] piranna commented on #44
I think I've found the source of the problem.

Our problem happened because our server didn't send CORS headers when returning a 4xx error, so on [default config.effect()](https://github.com/redux-offline/redux-offline/blob/0c2e1ce2d5aeaefc91867164b7e025c554e7feb5/src/defaults/effect.js#L39) `fetch()` was giving a network error due to lack of CORS headers, showing them on the console by the web br

[2017-10-25 19:29] piranna commented on #44
I have added some tests and [they confirm](https://travis-ci.org/redux-offline/redux-offline/builds/292785077?utm_source=github_status&utm_medium=notification) the point with the `error.status` field being null. I'll add some changes to fix it and update the pull-request.

[2017-10-25 20:27] piranna commented on #44
I have added a fix and now tests for discard status are passing. I think the problem with the retries on 4xx will not happen again.

[2017-10-26 22:49] wacii commented on #44
This was intentional. If fetch fails to communicate with the server at all, maybe the user is offline, fetch will reject with a `TypeError`, which does not have a `status`. This is why `discard()` uses `'status' in error`, it is testing for these sorts of errors.

Granted, a `TypeError` can also represent something wrong with your code, either on the client or server, where retrying won't really c

[2017-10-27 07:52] piranna commented on #44
Shouldn't network status be checked in advance? Although it would be check here too as a failsafe...

I don't think a server error would throw a `TypeError`. Regarding checking appart this kind of errors, maybe we could check the message error if they say something interesting...

Probably never, maybe it only would have ever a number or `undefined`, I did it just to have some failback. Maybe a be

[2017-10-27 17:16] wacii commented on #44
It is checked, but the check is not reliable. Specifically it is subject to false positives: [Navigator.onLine](https://developer.mozilla.org/en-US/docs/Web/API/NavigatorOnLine/onLine).

Maybe. The specification does not say what messages should be used for the different errors, only that they are `TypeError`. So browsers are free to use whatever messages they want. Or none at all. So you would ha

[2017-10-29 10:44] piranna commented on #44
Is there any way where could I check the possible error `fetch()` could dispatch? Maybe the spec?

So if status is undefined, we can be sure it's not a response :-)

[2017-10-29 18:03] wacii commented on #44
You can check [the spec](https://fetch.spec.whatwg.org/), but almost all errors `fetch()` throws are `TypeError`, and the spec doesn't specify what message should be used.

To summarize, most failures result in the response being set as a 'network error', which is mostly just a response with a status of 0, which the `fetch()` method responds to by throwing a `TypeError`.

The only other error I re

[2017-10-30 08:42] sorodrigo commented on #48
I was thinking the same (keeping redux-offline org name). Maybe in the future then? I really prefer it over redux-offline-team.
Ok let’s do the changelog here.

[2017-11-02 21:46] wacii opened #60 "Contributing Guidelines"
I wanted a way for users to provide code reproducing errors in bug reports without creating a new repo, and found some success with https://codesandbox.io.

An example demonstrating the old DevTools issue: [link](https://codesandbox.io/s/2433l5xlj0).
A basic starting point: [link](https://codesandbox.io/s/8xml9l1r0j).

We could provide links to these as well as the example app when a user fails to

[2017-11-02 21:50] wacii commented on #48
I prefer the name as well, but there are some discussions here I would like to keep around. At least for now.

[2017-11-04 12:03] kaelumania opened #61 "Add `getState` to effect reconciler"
I would like to retrieve an API access token, that is stored inside redux state, before making any API calls. Thus, I would need to access the state when I issue a remote `fetch` aka effect.

BTW is it a good idea to store credentials (access token) within the persisted redux state?

[2017-11-04 23:41] sorodrigo commented on #60
I agree, this is super useful! I also wanted to talk about the guidelines. I think that we should enforce more the _"create an issue before making a PR that involves big changes or new features"_ . Mainly to not waste people's time and effort.

[2017-11-05 00:02] sorodrigo commented on #61
I'd say that the best way to include state data in your offline actions is to use `redux-thunk`. For example:
[code]

[2017-11-05 07:33] kaelumania commented on #61
@sorodrigo thanks for the answer. I always think about thunk as calling an api. But you are right it's just about using functions as action payload. Thus, one option is to use thunk and another is to use a custom middleware injecting the token to meta data, right?

Further, is it in general a good practice to store credentials within redux state?

[2017-11-05 10:38] sorodrigo commented on #61
I think there’s no problem. You can store a JWT in your store and use it to maintain the user logged in until it expires. You shoukd never store passwords tho.

[2017-11-05 22:50] sorodrigo commented on #48
Changelog is now live. Closing.

[2017-11-05 22:50] #48 closed

[2017-11-06 13:23] piranna opened #63 "Uncaught ReferenceError: regeneratorRuntime is not defined"
After upgrade to newer 2.2.0 version we are getting a `Uncaught ReferenceError: regeneratorRuntime is not defined` error after data is fetch from out server, while with 2.1.0 it correctly works. Seems like it's not able to correctly upgrade the UI. This happens both with React 15 and 16.

[2017-11-06 17:20] wacii commented on #63
The regenerator runtime is responsible for transforming generators and async functions for environments that do not support them. Depending on your targets you might need to include the runtime to use Redux Offline. The specific change that introduced this dependency was actually yours making `config.discard()` asynchronous.

[2017-11-06 17:25] piranna commented on #63
Lol! X-D So maybe is it an issue of configuring Babel? Could you be able to give me some info towards that? I'm mostly a backend developer, so this kind of things are new to me...

[2017-11-07 10:24] lsenta opened #64 "network detector is weird / misdocumented"
Thanks for maintaining this project!

The doc says:

https://github.com/redux-offline/redux-offline#change-how-network-status-is-detected

The code expects an object `{ online: true / false }`
https://github.com/redux-offline/redux-offline/blob/develop/src/defaults/detectNetwork.js#L8

- No error is raised if you pass a boolean, an action `Offline/STATUS_CHANGED` is trigger with an empty payload o

[2017-11-07 11:02] sorodrigo commented on #64
Thanks for pointing this out. I’ll have a look at it later today, but quickly eyeballing it I think that the docs are not updated which would be my bad.

[2017-11-07 11:07] lsenta commented on #64
Yup, it's either the doc or the code.
What's the rationale behind asking for an `{online: bool}` payload?

[2017-11-07 11:18] sorodrigo commented on #64
This is the change that broke this: https://github.com/redux-offline/redux-offline/pull/1/files#diff-7701bf42c0bcc36a1600dd1f7ec16030 as I see it the best solution is to make the action support both an object payload and a boolean one. This should’ve been the original change.

[2017-11-07 22:00] sorodrigo opened #66 "Migration to original repo"
Lets discuss the migration strategy.

[2017-11-08 17:31] wacii commented on #66
Renaming this repository would redirect traffic from the current url to the new one. Which is not great considering we want to park the original repo here. Not sure what the behavior would be, but to be safe, I imagine we would have to delete this repo.

Whatever we do I'll start moving my PRs over to the main repo.

[2017-11-09 12:55] sorodrigo commented on #66
We can close the issues here, and put a notice on the readme to go to the other one.

[2017-11-10 08:33] piranna commented on #66
Redirects works so far there's no a newer repo with the same name, so it's safe to delete this one or rename it to "redux-offline-legacy", and move the community one here. Being a fork of this one it could give some problems (GitHub don't allow to have two projects one forked from another on the same user/organization), so this one would need to be deleted.

Another option would be, since this rep

[2017-11-10 10:18] sorodrigo commented on #66
We want to maintain the number of stars so everything needs to go to the original. About the name conflict, etc. I could transfer this repo outside from the org, close its issues and rename it. (I really don't want to delete it 😛 )

[2017-11-10 10:21] piranna commented on #66
Sounds like a plan :-) Just only please move first the issues and pull-requests with something like https://github.com/google/github-issue-mover

[2017-11-10 10:27] sorodrigo commented on #66
thanks we'll do!

[2017-11-10 17:15] wacii commented on #66
Oh! I didn't think it was possible to move issues like that. Nice tip.

[2017-11-10 18:43] piranna commented on #66
It's not like moving but instead copy and delete. I did it some time ago when unifying NodeOS repos.

[2017-11-11 02:17] manueliglesias commented on #63
@piranna You can also try:

`import 'regenerator-runtime/runtime';`

(It might need to be your very first import)

[2017-11-11 19:02] wacii commented on #60
I assume we'll still be doing gitflow on the main repo? Might be something to add to the contributions section. Also I'll need to move my PRs on the main repo over to develop.

[2017-11-11 19:04] wacii commented on #63
If this is not resolved, feel free to reopen on the main repo.

[2017-11-11 19:05] wacii commented on #49
Closing as the merge has been completed.

[2017-11-11 19:05] #49 closed

[2017-11-11 19:05] wacii commented on #16
Resolved by PR #26

[2017-11-11 19:05] #16 closed

[2017-11-11 19:07] wacii commented on #40
If you still have questions, feel free to open new issues on the main repo.

[2017-11-11 19:07] #40 closed

[2017-11-11 19:17] wacii commented on #45
There is a draft for queue customization at [PR #136](https://github.com/redux-offline-team/redux-offline/pull/136) over in the main repo. Probably a bit late for your purposes though.

[2017-11-11 19:40] wacii commented on #60
The issue integrating with Redux DevTools has been resolved. If you are still seeing this error, please feel free to open a new issue.

[2017-11-11 21:03] kbrandwijk commented on #49
So now the 'main' repo 'redux-offline-team/redux-offline' also has `@redux-offline/redux-offline` as package name in package.json.

Can you please elaborate what the main repo (for code and issues) and main package name will be from now on?

[2017-11-11 21:23] wacii commented on #49
The main repo is redux-offline-team/redux-offline which is deployed as @redux-offline/redux-offline.

[2017-11-12 12:57] sorodrigo commented on #60
Yes that’s something I haven’t thought of, thanks!

[2017-11-12 18:14] piranna commented on #66
What's going to happen with the open branches and pull-requests? Are they going to be moved to the other repo too (It should be)?

[2017-11-12 18:37] piranna commented on #63
It worked, thanks! :-D Maybe it would make sense to add a note on the readme regarding this?

[2017-11-14 23:01] sorodrigo commented on #66
@piranna Hey yes everything is moving elsewhere, I'm really slammed at work right now, will have to wait a little bit.

[2017-11-20 16:02] wacii commented on #63
Reopening as this is something we should be dealing with in the library.

Just discovered that Babel makes a tool similar to `babel-polyfill` but is more suitable for libraries, that we should be using.

[2017-11-20 18:04] piranna commented on #63
Good to know :-)

[2017-11-22 03:10] aislanmaia commented on #63
I'm just using `create-react-app` that by default it not make use of babel and I'm getting the same error regarding regeneratorRuntime. :crying_cat_face:

[2017-11-22 08:43] sorodrigo commented on #63
We’re including this patch soon. ;)

[2017-11-23 00:14] sorodrigo commented on #64
Hey @lsenta I merged this on the official repo 👍 . Closing

[2017-11-23 00:14] #64 closed

[2017-11-23 00:14] sorodrigo commented on #63
Merged in the official repo.

[2017-11-23 00:14] #63 closed

[2017-11-23 00:15] #61 closed

[2017-11-23 00:16] sorodrigo commented on #60
I'll PR you on the official repo to update this things in the README. Closing

[2017-11-23 00:16] #60 closed

[2017-11-23 00:16] sorodrigo commented on #45
Awaiting on the official repo. Closing.

[2017-11-23 00:16] #45 closed

[2017-11-23 00:17] sorodrigo commented on #7
Ongoing PR in the official repo. Closing.

[2017-11-23 00:17] #7 closed

[2017-11-23 00:18] sorodrigo commented on #66
I consider the repo as officially migrated. Closing.

[2017-11-23 00:18] #66 closed

[2017-11-23 00:18] #35 closed

[2019-01-26 13:20] dancomanlive commented on #22
What are offline effects?

[2019-02-08 04:55] radjivF commented on #61
Can we reopen this issue I have exactly the same, is anyone found a solution?

[2019-02-08 08:50] sorodrigo commented on #61
Please open a new issue following our bug report template. Also add an example of how you declare an offline action

[2020-02-15 18:32] caleb-harrelson commented on #61
My issue was a PEBKAC problem, but just in case anybody else is stuck, make sure your `commit` and `rollback` properties are on the `offline` object, not that object's `effect` object.